<?xml version="1.0" ?>
<robot name="trifingerpro"
    xmlns:xacro="https://ei.is.tuebingen.mpg.de/xacro">

    <xacro:include filename="fingerpro_macro.xacro" />
    <xacro:include filename="../macros.xacro" />

    <material name="center_holder_material">
        <color rgba="0.1 0.1 0.1 1.0" />
    </material>

    <!-- Define the global base_link and place all other objects relative to it. -->
    <link name="base_link">
        <!-- add inertial to suppress warning -->
        <xacro:add_inertia
            length_x="0.005"
            length_y="0.005"
            length_z="0.005"
            mass="1"
            com="0 0 0"/>
    </link>

    <!-- Define the upper holder -->
    <link name="upper_holder_link">
        <xacro:add_visual_geometry
            rpy="0 0 0"
            xyz="0 0 0"
            mesh_file="${center_link_mesh}"
            material="center_holder_material"
            mesh_scale="1." />
        <!-- add inertial to suppress warning -->
        <xacro:add_inertia
            length_x="0.005"
            length_y="0.005"
            length_z="0.005"
            mass="1"
            com="0 0 0"/>
    </link>
    <joint name="base_to_upper_holder_joint" type="fixed">
        <parent link="base_link"/>
        <child link="upper_holder_link"/>
        <origin xyz="0 0 0.29"/>
    </joint>

    <!-- Define the three fingers and place them relative to the upper holder -->
    <xacro:fingerpro suffix="_0" />
    <xacro:fingerpro suffix="_120" />
    <xacro:fingerpro suffix="_240" />

    <xacro:property name="angle_0" value="${radians(0)}"/>
    <xacro:property name="angle_120" value="${radians(120)}"/>
    <xacro:property name="angle_240" value="${radians(240)}"/>

    <joint name="holder_to_finger_0" type="fixed">
        <parent link="upper_holder_link"/>
        <child link="finger_base_link_0"/>
        <origin xyz="0 0 0" rpy="0 0 ${angle_0}"/>
    </joint>

    <joint name="holder_to_finger_120" type="fixed">
        <parent link="upper_holder_link"/>
        <child link="finger_base_link_120"/>
        <origin xyz="0 0 0" rpy="0 0 -${angle_120}"/>
    </joint>

    <joint name="holder_to_finger_240" type="fixed">
        <parent link="upper_holder_link"/>
        <child link="finger_base_link_240"/>
        <origin xyz="0 0 0" rpy="0 0 -${angle_240}"/>
    </joint>

</robot>
